@using KvotaWeb.Models
@using KvotaWeb.Models.Items

@model KvotaWeb.Models.Items.MultiSuvenir

<form id="myform" method="post" action="/Product/EditЗначки">
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-sm-8 col-sm-push-2">

        <div class="form-group">
            <div class="control-label col-sm-5">
                @Html.LabelFor(model => model.Tiraz)
            </div>
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Tiraz, new { htmlAttributes = new { @class = "form-control", @onkeyup = "OnChangeEvent();" } })
                @Html.ValidationMessageFor(model => model.Tiraz, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div id="dataTable">
        @foreach (var i in @Model.Items)
        {
            @Html.Partial("EditFlagNSO_p", i);
        }
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5">Добавить вид нанесения:</label>
        <div class="col-sm-7">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    (не выбрано) <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a id=@TipProds.DTG.ToString()>DTG (прямая печать на ткани)</a></li>
                    <li><a id=@TipProds.Gravirovka>Гравировка</a></li>
                    <li><a id="@TipProds.Decol">Деколь</a></li>
                    <li><a id="@TipProds.Tampopechat">Тампопечать</a></li>
                    <li><a id="@TipProds.Tisnenie">Тиснение</a></li>
                    <li><a id="@TipProds.UFkachestvo">УФ (качество)</a></li>
                    <li><a id="@TipProds.UFstandart">УФ (стандарт)</a></li>
                    <li><a id="@TipProds.Shelkografiya">Шелкография</a></li>                    
                </ul>
            </div>
        </div>
    </div>

</form>
<script type="text/javascript">
    $('li a').click(function (e) {
       // e.preventDefault();
        var sender = e.target || e.srcElement; //$(sender).
        alert(this.id);
        //alert($(this).);
        var data = this.id;//$("#txtname").val();
        $.ajax({
            url: "/Product/AddSubSuvenir",
            dataType: "html",
            data: { tipProd: data, multSuvenirId =parentId },
            success: function (result) {
                $('#dataTable').append(result);
            }
        });
    });
    /*
    function OnAddVid(vid) {
        alert(vid);
    }*/
    function OnChangeEvent() {
        $("body").css("cursor", "progress");
        $.ajax({
            type: 'POST',
            url: "/Product/Recalc",
            data: $('#myform').serialize(),
            success: function (data, res) {
                $("#totalResultsDiv").html(data);
                $("body").css("cursor", "default");
            },
            error: function () {
                alert("There was an error submitting comment");
                $("body").css("cursor", "default");
            }
        });
    }
</script>