@model KvotaWeb.Models.LocalPasswordModel

<div class="row">
        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <h2 >Изменение пароля</h2>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "старый пароль" })
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "новый пароль" })
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "повторите пароль" })
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Сохранить" class="form-control btn btn-default" />
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
        }
</div>