@model KvotaWeb.Models.Items.DTG

<div>
    @Html.AntiForgeryToken()
    <h4 style="margin-bottom:0px;">@KvotaWeb.Models.ListItem.GetTipProdName(@Model.TipProd):</h4>
    <hr style="margin-top:3px;margin-bottom:10px;border-width:5px">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ParentId)
    @Html.HiddenFor(model => model.TipProd)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="control-label col-sm-5">
            @Html.LabelFor(model => model.Razmer)
        </div>
        <div class="col-sm-7">
            @Html.DropDownListFor(model => model.Razmer, @ViewData["params1"] as SelectList, "(не выбрано)", new { @id = "param11", @class = "form-control", @onchange = "OnChangeEvent();" })
            @Html.ValidationMessageFor(model => model.Razmer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-5">Срок изготовления:</label>
        <label class="control-label col-sm-7" style="text-align:left;">@Model.Srok </label>
    </div>

    @if (Model.Description != null)
    {
        <div class="form-group">
            <label class="control-label col-sm-5">Примечание:</label>
            <label class="control-label col-sm-7" style="text-align:left;">@Model.Description </label>
        </div>
    }

    
</div>