@model KvotaWeb.Models.Items.Tisnenie

<div id="@Model.Id">
    @Html.AntiForgeryToken()
    <h4 style="margin-bottom:0px;" class="col-sm-11">@KvotaWeb.Models.ListItem.GetTipProdName(@Model.TipProd):</h4>
    <a>
        <img src="/Images/delete.png" height="27" style="margin:1px 1px; cursor: pointer;" onclick="OnDeleteSubSuvenirEvent(@Model.Id);" />
    </a>
    <hr style="margin-top:3px;margin-bottom:10px;border-width:5px">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ParentId)
    @Html.HiddenFor(model => model.TipProd)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="control-label col-sm-5">
            @Html.LabelFor(model => model.Vid)
        </div>
        <div class="col-sm-7">
            @Html.DropDownListFor(model => model.Vid, @ViewData["params1"] as SelectList, "(не выбрано)", new { @id = "param1", @class = "form-control", @onchange = "OnChangeEvent();" })
            @Html.ValidationMessageFor(model => model.Vid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-sm-5">
            @Html.LabelFor(model => model.Ploshad)
        </div>
        <div class="col-sm-7">
            @Html.EditorFor(model => model.Ploshad, new { htmlAttributes = new { @class = "form-control", @onkeyup = "OnChangeEvent();" } })
            @Html.ValidationMessageFor(model => model.Ploshad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="paramDiv4" style=@ViewData["paramDivStyle4"] align="left">
        @*<label class="col-md-offset-5 col-md-7 col-sm-offset-5 col-sm-7">
                @Html.EditorFor(model => model.KlisheExists, new { htmlAttributes = new { @id = "param4", @class = "form-check-input", @onchange = "OnChangeEvent();" } })
                <label for="param4" id="paramLabel4">@Html.LabelFor(model => model.KlisheExists)</label>
            </label>*@
        <div class="col-md-offset-5 col-md-7 col-sm-offset-5 col-sm-7">
            @Html.EditorFor(model => model.KlisheExists, new { htmlAttributes = new { @onchange = "OnChangeEvent();" } })
            @Html.LabelFor(model => model.KlisheExists)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-5">Срок изготовления:</label>
        <label class="control-label col-sm-7" style="text-align:left;">@Model.Srok </label>
    </div>

    @if (Model.Description != null)
    {
        <div class="form-group">
            <label class="control-label col-sm-5">Примечание:</label>
            <label class="control-label col-sm-7" style="text-align:left;">@Model.Description </label>
        </div>
    }
</div>
   
   