@model KvotaWeb.Models.Items.Tampopechat

<div id="@Model.Id">
    @Html.AntiForgeryToken()
    <h4 style="margin-bottom:0px;" class="col-sm-11">@KvotaWeb.Models.ListItem.GetTipProdName(@Model.TipProd):</h4>
    <a>
        <img src="/Images/delete.png" height="27" style="margin:1px 1px; cursor: pointer;" onclick="OnDeleteSubSuvenirEvent(@Model.Id);" />
    </a>
    <hr style="margin-top:3px;margin-bottom:10px;border-width:5px">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ParentId)
    @Html.HiddenFor(model => model.TipProd)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="control-label col-sm-5">
            @Html.LabelFor(model => model.Osnova)
        </div>
        <div class="col-sm-7">
            @Html.DropDownListFor(model => model.Osnova, @ViewData["params1"] as SelectList, "(не выбрано)", new { @id = "paramTampopechat1", @class = "form-control", @onchange = "OnChangeParamEventTampopechat1();" })
            @Html.ValidationMessageFor(model => model.Osnova, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-sm-5">
            @Html.LabelFor(model => model.KolichestvoTcvetov)
        </div>
        <div class="col-sm-7">
            @Html.DropDownListFor(model => model.KolichestvoTcvetov, @ViewData["params2"] as SelectList, "(не выбрано)", new { @id = "paramTampopechat2", @class = "form-control", @onchange = "OnChangeEvent();" })
            @Html.ValidationMessageFor(model => model.KolichestvoTcvetov, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-5">Срок изготовления:</label>
        <label class="control-label col-sm-7" style="text-align:left;">@Model.Srok </label>
    </div>

    @if (Model.Description != null)
    {
        <div class="form-group">
            <label class="control-label col-sm-5">Примечание:</label>
            <label class="control-label col-sm-7" style="text-align:left;">@Model.Description </label>
        </div>
    }
</div>
    <script type="text/javascript">
        function OnChangeParamEventTampopechat1() {
            //var catId = $(this).val();
            var catId = $('#paramTampopechat1').val();
                var url = '@Url.Action("fillParam2", "Product")';
                $.getJSON(url, { catId: catId }, function (result) {
                    var ddl = $('#paramTampopechat2');
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option')).attr('value', this.id).text(this.tip).appendTo(ddl);
                    });
                    OnChangeEvent();
                    $('#paramTampopechat2').focus();
                });
        }
    </script>