@model KvotaWeb.Models.Items.UFstandart

    <div class="form-horizontal col-sm-8 col-sm-push-2">
        @Html.AntiForgeryToken()
        <h4>@KvotaWeb.Models.ListItem.GetTipProdName(@Model.TipProd)</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.TipProd)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="control-label col-sm-5">
                @Html.LabelFor(model => model.Izdelie)
            </div>
            <div class="col-sm-7">
                @Html.DropDownListFor(model => model.Izdelie, @ViewData["params1"] as SelectList, "(не выбрано)", new { @id = "param1", @class = "form-control", @onchange = "OnChangeParam1Event();" })
                @Html.ValidationMessageFor(model => model.Izdelie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-sm-5">
                @Html.LabelFor(model => model.Tcvet)
            </div>
            <div class="col-sm-7">
                @Html.DropDownListFor(model => model.Tcvet, @ViewData["params2"] as SelectList, "(не выбрано)", new { @id = "param2", @class = "form-control", @onchange = "OnChangeEvent();" })
                @Html.ValidationMessageFor(model => model.Tcvet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-5">Срок изготовления:</label>
            <label class="control-label col-sm-7" style="text-align:left;">@Model.Srok </label>
        </div>

        @if (Model.Description != null)
    {
        <div class="form-group">
            <label class="control-label col-sm-5">Примечание:</label>
            <label class="control-label col-sm-7" style="text-align:left;">@Model.Description </label>
        </div>
}
        <hr>
    </div>

<script type="text/javascript">
        function OnChangeParam1Event() {
            //var catId = $(this).val();
            var catId = $('#param1').val();
                var url = '@Url.Action("fillParam2", "Product")';
                $.getJSON(url, { catId: catId }, function (result) {
                    var ddl = $('#param2');
                    ddl.empty();
                    $(result).each(function () {
                        $(document.createElement('option')).attr('value', this.id).text(this.tip).appendTo(ddl);
                    });
                    OnChangeEvent();
                    $('#param2').focus();
                });
        }
</script>