@model KvotaWeb.Models.Items.TotalResultsModel

<hr class="divider" />
<div id="totalResults" class="form-group">
    <label class="control-label col-sm-5">Итого:</label>
    <div class="col-sm-5">
        <table class="table table-condensed table-bordered table-hover" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th></th>
                    <th>За ед.</th>
                    <th>Всего</th>
                    <th>% маржи</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Lines)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Postav)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EdCena)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cena)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marza)
                        </td>
                    </tr>
                }
        </table>
    </div>
    @if (Model.Message != null)
    {
        <div  id="askBetterPriceDiv" align="left">
            <label class="col-sm-offset-5 col-sm-7" style="margin-top: 5px;margin-bottom: 0px;">
                @Model.Message
            </label>
        </div>
    }
</div>
